#Data Engineering: Automated Feature Engineering
Machine learning models commonly require data engineers to combine related data from multiple sources into one denormalized table. 

###Featuretools
Featuretools is an open-source Python library that automatically creates many features from a set of related tables. It is based on a method known as Deep Feature Synthesis, a name that comes from stacking multiple features. In a typical workflow, data engineers may use Pandas to prepare data, FeatureTools for feature engineering, and Scikit-Learn to run models.

[Documentation is at alteryx.com](https://featuretools.alteryx.com/en/stable/).

##Problem
Suppose a client in the lending industry wants to predict which customers are most likely to repay loans. Data from three tables is available:
1. **clients:** information about clients at a credit union
2. **loans:** previous loans taken out by the clients
3. **payments:** payments made/missed on the previous loans.

##Approach
Use FeatureTools to: create candidate features, combine them in a single table, and pass them to a machine learning model. 

Note that it is possible to add features that not improve the model. Be careful to avoid the *curse of dimensionality*.

In [ ]:
# to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#Read files from: /content/drive/MyDrive/datasets/filename.ext

Mounted at /content/drive

##Understanding Data Relationships

Before using Featuretools, it's important to understand:
1. Entities and EntitySets
2. Relationships between tables
3. Feature primitives: aggregations and transformations
4. Deep feature synthesis

###Entities and EntitySets
An **entity** is a table, such as Pandas dataframe. The observations are the rows, and the features are the columns. An **EntitySet** is a collection of tables and the relationships between them. Grouping multiple tables to manipulate them is much quicker than manipulating one at a time.

###Table Relationships
Think of relations in featuretools with what you know in relational database. It is a one-to-many relationship. The clients dataframe is a parent of the loans dataframe. Loans is the parent of payments. In each pair, find the variable (usually an ID) that links two tables together, then formalize the relationships between pairs in featuretools. The client_id variable links the clients and the loans table, whereas loan_id links the loans and payments.

###Feature Primitives
A feature primitive is an operation applied to source data to create a new feature. They are simple calculations that can be chained to create complex features. There are two main categories:

1. **Aggregation:** a grouping to which a statistic is applied, such as mean, min, max, or standard deviation. An aggregation works across multiple tables using relationships between tables. An example is calculating the maximum loan amount for each client.
2. **Transformation:** an operation applied to one or more columns in a single table. An example would be extracting the day from dates, or finding the difference between two columns in one table.

###Deep Feature Synthesis
Deep Feature Synthesis (DFS) is stacking primitives to form features with a "depth" equal to the number of primitives. For example, the LAST(loans.(MEAN(payments.payment_amount))) has depth = 2 because it is made by stacking two feature primitives, first an aggregation and then a transformation. This feature represents the average payment amount for the last (most recent) loan for each client.

##Install Featuretools
Install featuretools first, as the runtime may have to be restarted afterward and all local variables recreated.

In [ ]:
!pip install featuretools

Collecting featuretools
  Downloading featuretools-1.6.0-py3-none-any.whl (356 kB)
     |████████████████████████████████| 356 kB 22.9 MB/s
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (4.62.3)
Collecting cloudpickle>=1.5.0
  Downloading cloudpickle-2.0.0-py3-none-any.whl (25 kB)
Collecting woodwork>=0.8.1
  Downloading woodwork-0.13.0-py3-none-any.whl (170 kB)
     |████████████████████████████████| 170 kB 38.0 MB/s
Requirement already satisfied: scipy>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from featuretools) (1.4.1)
Requirement already satisfied: click>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (7.1.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (1.21.5)
Collecting dask[dataframe]>=2021.10.0
  Downloading dask-2022.2.0-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 47.8 MB/s
Collecting psutil>=5.6.6
  Downloading psutil-5.9.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     |████████████████████████████████| 280 kB 47.2 MB/s
Collecting holidays>=0.13
  Downloading holidays-0.13-py3-none-any.whl (172 kB)
     |████████████████████████████████| 172 kB 44.8 MB/s
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (1.3.5)
Collecting distributed>=2021.10.0
  Downloading distributed-2022.2.0-py3-none-any.whl (837 kB)
     |████████████████████████████████| 837 kB 44.0 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2021.10.0->featuretools) (21.3)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.1.0-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 56.1 MB/s
Collecting pyyaml>=5.3.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 35.8 MB/s
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2021.10.0->featuretools) (0.11.2)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (1.7.0)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (5.1.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (2.11.3)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (2.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (57.4.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (2.4.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (1.0.3)
Requirement already satisfied: convertdate>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from holidays>=0.13->featuretools) (2.4.0)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.13->featuretools) (2.2.2)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.13->featuretools) (0.2.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from holidays>=0.13->featuretools) (2.8.2)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays>=0.13->featuretools) (0.5.11)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->dask[dataframe]>=2021.10.0->featuretools) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.3.0->featuretools) (2018.9)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->holidays>=0.13->featuretools) (1.15.0)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from woodwork>=0.8.1->featuretools) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->woodwork>=0.8.1->featuretools) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->woodwork>=0.8.1->featuretools) (1.1.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2021.10.0->featuretools) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->distributed>=2021.10.0->featuretools) (2.0.1)
Installing collected packages: locket, pyyaml, partd, fsspec, cloudpickle, psutil, dask, woodwork, holidays, distributed, featuretools
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.3.0
    Uninstalling cloudpickle-1.3.0:
      Successfully uninstalled cloudpickle-1.3.0
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: dask
    Found existing installation: dask 2.12.0
    Uninstalling dask-2.12.0:
      Successfully uninstalled dask-2.12.0
  Attempting uninstall: holidays
    Found existing installation: holidays 0.10.5.2
    Uninstalling holidays-0.10.5.2:
      Successfully uninstalled holidays-0.10.5.2
  Attempting uninstall: distributed
    Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gym 0.17.3 requires cloudpickle<1.7.0,>=1.2.0, but you have cloudpickle 2.0.0 which is incompatible.
Successfully installed cloudpickle-2.0.0 dask-2022.2.0 distributed-2022.2.0 featuretools-1.6.0 fsspec-2022.1.0 holidays-0.13 locket-0.2.1 partd-1.2.0 psutil-5.9.0 pyyaml-6.0 woodwork-0.13.0

##Read Datasets

In [ ]:
# Import the required libraries
import pandas as pd
import numpy as np

#### Clients Dataset

In [ ]:
#Load the client dataset.
clients = pd.read_csv('/content/drive/MyDrive/datasets/clients.txt', parse_dates = ['joined'])
clients.head()

   client_id     joined  income  credit_score
0      46109 2002-04-16  172677           527
1      49545 2007-11-14  104564           770
2      41480 2013-03-11  122607           585
3      46180 2001-11-06   43851           562
4      25707 2006-10-06  211422           621

**Clients** data consist of basic information about clients at a credit union. Each client has only one row in this dataframe.

### **Loans** dataset

In [ ]:
loans = pd.read_csv('/content/drive/MyDrive/datasets/loans.txt', parse_dates = ['loan_start', 'loan_end'])
loans.head()

   client_id loan_type  loan_amount  ...  loan_start   loan_end  rate
0      46109      home        13672  ...  2002-04-16 2003-12-20  2.15
1      46109    credit         9794  ...  2003-10-21 2005-07-17  1.25
2      46109      home        12734  ...  2006-02-01 2007-07-05  0.68
3      46109      cash        12518  ...  2010-12-08 2013-05-05  1.24
4      46109    credit        14049  ...  2010-07-07 2012-05-21  3.13

[5 rows x 8 columns]

**loans** data consist of loans made to the clients. Each loan has only own row in this dataframe but clients may have multiple loans.

###**Payments** dataset

In [ ]:
payments = pd.read_csv('/content/drive/MyDrive/datasets/payments.txt', parse_dates = ['payment_date'])
payments.head()

   loan_id  payment_amount payment_date  missed
0    10243            2369   2002-05-31       1
1    10243            2439   2002-06-18       1
2    10243            2662   2002-06-29       0
3    10243            2268   2002-07-20       0
4    10243            2027   2002-07-31       1

The **Payments** data contains the payments made on the loans. Each payment has only one row but each loan will have multiple payments.

## Combining Dataframes
With the three datasets above, use featuretools to combine. Here's how. 
1. Instantiate an EntitySet and store in variable "es". 
2. Add a dataframe: es.add_dataframe. Provide 4 things: 
    - pass in the original dataset: dataframe = dataset, 
    - name the new dataframe: entity_id = "some name" 
    - cite the index of the dataset: index = 'some_id'
    - cite the time index: time_index = 'some date field'

In [ ]:
import featuretools as ft
# Create new entityset
es = ft.EntitySet(id = 'clients')

/usr/local/lib/python3.7/dist-packages/woodwork/__init__.py:23: FutureWarning: Woodwork may not support Python 3.7 in next non-bugfix release.
  "Woodwork may not support Python 3.7 in next non-bugfix release.", FutureWarning
/usr/local/lib/python3.7/dist-packages/featuretools/__init__.py:68: FutureWarning: Featuretools may not support Python 3.7 in next non-bugfix release.
  FutureWarning,

Each entity must have an index which is a column with unique elements.

In [ ]:
# We create an entity from the client dataframe
# Also note that the dataframe already has an index and a time (the joined column) index
es = es.add_dataframe(dataframe = clients,
                      dataframe_name = 'clients', 
                      index = 'client_id', 
                      time_index = 'joined')

Featuretools will attempt to infer types for any columns that do not have types defined by the user.
* Automatic type inferencing is provided by the Woodwork library. 
* Optionally, bypass inferencing by passing logical types in a dictionary when calling add_dataframe.

In [ ]:
#We create an entity from the loan dataframe
# This dataframe already has an index and a time index
es = es.add_dataframe(dataframe_name = 'loans', 
                      dataframe = loans,
                      index = 'loan_id',
                      time_index = 'loan_start')

In [ ]:
#We create an entity from the payments dataframe
es = es.add_dataframe(dataframe_name = 'payments', 
                      dataframe = payments,
                      make_index = True,
                      index = 'payment_id',
                      time_index = 'payment_date')

View Results

In [ ]:
es['clients']

       client_id     joined  income  credit_score
42320      42320 2000-04-27  229481           563
39384      39384 2000-06-18  191204           617
26945      26945 2000-11-26  214516           806
41472      41472 2001-11-06  152214           638
46180      46180 2001-11-06   43851           562
46109      46109 2002-04-16  172677           527
32885      32885 2002-05-13   58955           642
29841      29841 2002-08-17   38354           523
38537      38537 2002-10-21  127183           643
35214      35214 2003-08-08   95849           696
49068      49068 2004-02-12  128813           603
26326      26326 2004-05-06  227920           633
26695      26695 2004-08-27  174532           680
44601      44601 2004-10-20  156341           518
32726      32726 2006-05-01  235705           730
25707      25707 2006-10-06  211422           621
49545      49545 2007-11-14  104564           770
48177      48177 2008-06-09  190632           769
32961      32961 2009-04-07  230341           714
44387      44387 2009-07-14  151903           781
35089      35089 2010-03-01  131176           771
46958      46958 2011-07-22  225709           644
39505      39505 2011-10-14  153873           610
49624      49624 2012-08-04   49036           800
41480      41480 2013-03-11  122607           585

In [ ]:
clients.shape
#Note that the 25 rows will be the shape of the output, after combining the loans and payments tables.

(25, 4)

In [ ]:
#Use the Woodworking library to view the metadata created by FeatureTools.
es['clients'].ww

               Physical Type Logical Type Semantic Tag(s)
Column
client_id              int64      Integer       ['index']
joined        datetime64[ns]     Datetime  ['time_index']
income                 int64      Integer     ['numeric']
credit_score           int64      Integer     ['numeric']

In [ ]:
es['loans']

       client_id loan_type  loan_amount  ...  loan_start   loan_end  rate
11140      39505      home         2274  ...  2000-01-26 2002-01-29  1.00
11251      26326      home         2847  ...  2000-03-06 2001-09-26  1.32
10816      49545      home         8354  ...  2000-03-08 2001-08-02  0.45
11965      29841    credit         6012  ...  2000-03-25 2002-07-10  4.63
10166      41472      home        13657  ...  2000-04-11 2001-09-08  5.68
...          ...       ...          ...  ...         ...        ...   ...
11595      35089     other          773  ...  2014-09-26 2016-04-23  7.63
10985      26695     other        13918  ...  2014-10-03 2016-10-25  0.90
10684      48177    credit          659  ...  2014-10-05 2017-01-16  1.52
10131      49068     other        10082  ...  2014-10-10 2016-05-25  0.63
11072      26326    credit         5275  ...  2014-11-11 2016-07-17  1.45

[443 rows x 8 columns]

In [ ]:
es['loans'].ww

              Physical Type Logical Type Semantic Tag(s)
Column
client_id             int64      Integer     ['numeric']
loan_type          category  Categorical    ['category']
loan_amount           int64      Integer     ['numeric']
repaid                int64      Integer     ['numeric']
loan_id               int64      Integer       ['index']
loan_start   datetime64[ns]     Datetime  ['time_index']
loan_end     datetime64[ns]     Datetime              []
rate                float64       Double     ['numeric']

In [ ]:
es['payments']

      payment_id  loan_id  payment_amount payment_date  missed
2113        2113    11988            2053   2000-03-05       0
726          726    11140             402   2000-03-19       0
2114        2114    11988            2627   2000-03-30       0
3223        3223    11430            1284   2000-04-05       0
2115        2115    11988            1911   2000-04-11       1
...          ...      ...             ...          ...     ...
1415        1415    11072             957   2015-07-01       0
1308        1308    10684             115   2015-07-06       0
1416        1416    11072             988   2015-07-14       1
1417        1417    11072             940   2015-07-29       0
1418        1418    11072             932   2015-08-21       1

[3456 rows x 5 columns]

In [ ]:
es['payments'].ww

                 Physical Type Logical Type Semantic Tag(s)
Column
payment_id               int64      Integer       ['index']
loan_id                  int64      Integer     ['numeric']
payment_amount           int64      Integer     ['numeric']
payment_date    datetime64[ns]     Datetime  ['time_index']
missed                   int64      Integer     ['numeric']

<br>

The next step is to specify how the tables in the entityset are related.

##Defining Relationships
With the three entities created, define relationships. Here's how.
1. Pass the dataframes and column names to EntitySet.add_relationship.
2. Identify the parent_dataframe and parent_column_name (usually primary key)
3. Identify the child_dataframe and child_column_name (usually foreign key from parent)

For each parameter, provide the string representation of the name.

In [ ]:
es.add_relationship(parent_dataframe_name = 'clients',
                    parent_column_name = 'client_id',
                    child_dataframe_name = 'loans',
                    child_column_name = 'client_id')

Entityset: clients
  DataFrames:
    clients [Rows: 25, Columns: 4]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id

In [ ]:
es.add_relationship(parent_dataframe_name = 'loans',
                    parent_column_name = 'loan_id',
                    child_dataframe_name = 'payments',
                    child_column_name = 'loan_id')

Entityset: clients
  DataFrames:
    clients [Rows: 25, Columns: 4]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id
    payments.loan_id -> loans.loan_id

In [ ]:
#ALTERNATIVELY: Create relationship first, then add to es using the relationship 
#keyword.

# Define relationship between clients and loans
#client_loan = ft.Relationship(es['clients']['client_id'],
#                              es['loans']['client_id'])

# Add the relationship to the entity set
#es = es.add_relationship(client_loan)

# Relationship between loans and payments
#loans_payment = ft.Relationship(es['loans']['loan_id'],
#                               es['payments']['loan_id'])

# Add the relationship to the entity set
#es = es.add_relationship(loans_payment)

The next step is to create new features using stacks of **feature primitives**.

##Feature Primitives

FeatureTools provides a list of **primitives** that it can create. Ask for the list by type, aggregation or transformation.

In [ ]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 80
primitives[primitives['type'] == 'aggregation'].head(20)

                name  ... return_type
0                std  ...        None
1             median  ...        None
2   avg_time_between  ...        None
3       percent_true  ...        None
4         num_unique  ...        None
5                min  ...        None
6              trend  ...        None
7               mean  ...        None
8    time_since_last  ...        None
9              count  ...        None
10               any  ...        None
11             first  ...        None
12              skew  ...        None
13     n_most_common  ...        None
14          num_true  ...        None
15           entropy  ...        None
16               max  ...        None
17              mode  ...        None
18  time_since_first  ...        None
19               all  ...        None

[20 rows x 7 columns]

In [ ]:
primitives[primitives['type'] == 'transform'].head(30)

                       name  ...                                                                  description
22              add_numeric  ...                                          Element-wise addition of two lists.
23                cum_count  ...                                             Calculates the cumulative count.
24                  weekday  ...                              Determines the day of the week from a datetime.
25                not_equal  ...              Determines if values in one list are not equal to another list.
26                       or  ...                                        Element-wise logical OR of two lists.
27                     year  ...                                     Determines the year value of a datetime.
28                    equal  ...                  Determines if values in one list are equal to another list.
29        modulo_by_feature  ...                   Return the modulo of a scalar by each element in the list.
30                     week  ...                             Determines the week of the year from a datetime.
31                haversine  ...            Calculates the approximate haversine distance between two LatLong
32       less_than_equal_to  ...     Determines if values in one list are less than or equal to another list.
33           modulo_numeric  ...                                            Element-wise modulo of two lists.
34                   second  ...                                  Determines the seconds value of a datetime.
35                      day  ...                             Determines the day of the month from a datetime.
36    divide_numeric_scalar  ...                                 Divide each element in the list by a scalar.
37                 latitude  ...                   Returns the first tuple value in a list of LatLong tuples.
38                less_than  ...                 Determines if values in one list are less than another list.
39    greater_than_equal_to  ...  Determines if values in one list are greater than or equal to another list.
40         multiply_boolean  ...                  Element-wise multiplication of two lists of boolean values.
41                      not  ...                                                     Negates a boolean value.
42      time_since_previous  ...                         Compute the time since the previous entry in a list.
43                     diff  ...                   Compute the difference between the value in a list and the
44             greater_than  ...              Determines if values in one list are greater than another list.
45                  is_null  ...                                               Determines if a value is null.
46         multiply_numeric  ...                                    Element-wise multiplication of two lists.
47                num_words  ...           Determines the number of words in a string by counting the spaces.
48                  cum_max  ...                                           Calculates the cumulative maximum.
49  subtract_numeric_scalar  ...                             Subtract a scalar from each element in the list.
50               time_since  ...                 Calculates time from a value to a specified cutoff datetime.
51                 cum_mean  ...                                              Calculates the cumulative mean.

[30 rows x 5 columns]

##Creating New Features
You can specify primitives to be created or rely on FeatureTools to create all automatically.

In [ ]:
# Create new features using specified primitives. The method returns
# features and feature names, unless you specify features_only = True.
features, feature_names = ft.dfs(entityset = es, 
                                 target_dataframe_name = 'clients', 
                                 agg_primitives = ['mean','sum', 'max', 'percent_true', 'count','last'],
                                 trans_primitives = ["day", "year", "month", "weekday"])

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:309: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  agg_primitives: ['percent_true']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible columns for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

In [ ]:
len(feature_names)

96

In [ ]:
features.head()

           income  ...  YEAR(LAST(payments.payment_date))
client_id          ...
42320      229481  ...                               2013
39384      191204  ...                               2015
26945      214516  ...                               2014
41472      152214  ...                               2015
46180       43851  ...                               2015

[5 rows x 96 columns]

In [ ]:
#Get row
features.loc[42320]

income                                  229481
credit_score                               563
COUNT(loans)                                15
LAST(loans.loan_amount)                   8090
LAST(loans.loan_id)                      10156
                                         ...
WEEKDAY(LAST(loans.loan_start))              5
WEEKDAY(LAST(payments.payment_date))         4
YEAR(LAST(loans.loan_end))                2015
YEAR(LAST(loans.loan_start))              2012
YEAR(LAST(payments.payment_date))         2013
Name: 42320, Length: 96, dtype: object

In [ ]:
#Get column
features['income'][:5]

client_id
42320    229481
39384    191204
26945    214516
41472    152214
46180     43851
Name: income, dtype: int64

In [ ]:
#Get column and display as dataframe
pd.DataFrame(features['MEAN(payments.payment_amount)'].head())

           MEAN(payments.payment_amount)
client_id
42320                        1021.483333
39384                        1193.630137
26945                        1109.473214
41472                        1129.076190
46180                        1186.550336

Featuretool has created new features by combining and stacking the primitives.

<br>

##**Deep Feature Synthesis**

In [ ]:
pd.DataFrame(features['LAST(loans.MEAN(payments.payment_amount))'].head(10))

           LAST(loans.MEAN(payments.payment_amount))
client_id
42320                                    1192.333333
39384                                    2311.285714
26945                                    1598.666667
41472                                    1427.000000
46180                                     557.125000
46109                                    1708.875000
32885                                    1729.000000
29841                                    1125.500000
38537                                    1348.833333
35214                                    1410.250000

##**Automated Deep Feature Synthesis**
FeatureTools can automatically create features, if nothing is specified in advance. Instead, specify the *max_depth* parameter and allow FeatureTools to  combinations of feature primitives.

In [ ]:
# Do not specifying primitives; instead specify maximum depth.
auto_features, auto_feature_names = ft.dfs(entityset = es, 
                                           target_dataframe_name='clients', 
                                           max_depth = 4)

In [ ]:
auto_features.head()

           income  ...  SUM(loans.NUM_UNIQUE(payments.YEAR(payment_date)))
client_id          ...
42320      229481  ...                                                24.0
39384      191204  ...                                                32.0
26945      214516  ...                                                24.0
41472      152214  ...                                                27.0
46180       43851  ...                                                30.0

[5 rows x 183 columns]

In [ ]:
auto_features.shape

(25, 183)

Loans and payment data were collapsed into 25 rows by summing unique loans and payments per customer.